{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <span class="encadrement-contenu">
         {% if is_granted('ROLE_ADMIN')%}
        <h1>Inscrire un utilisateur</h1>

        <br>

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.username) }}
            <br>
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            <br>
            {{ form_row(registrationForm.nom) }}
            <br>
            {{ form_row(registrationForm.prenom) }}
            <br>
            {{ form_row(registrationForm.telephone) }}
            <br>
            {{ form_row(registrationForm.email) }}
            <br>
            {{ form_row(registrationForm.campus) }}

           {#  {{ form_row(registrationForm.agreeTerms) }}#}
            <br>
        <div class="text-center">
            <button class="btn btn-outline-light rounded-0" type="submit" onclick="confirm('Voulez-vous valider l\'inscription ?')">Confirmer l'inscription</button>
        </div>
        {{ form_end(registrationForm) }}
    </span>
        {% else %}
            <br>
            <h2>Vous n'avez pas les droits nécessaires pour enregistrer un utilisateur !</h2>
            <br>
    {% endif %}
{% endblock %}
