{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | ajout Campus
{% endblock %}

{% block body %}
    <span class="encadrement-contenu">
    <table class="table align-middle table-hover">
        <thead>
            <tr>
                <th id="tableau-donnees">Nom</th>
                <th id="tableau-donnees">Actions</th>
            </tr>
        </thead>
        <tbody>

        {% for campus in campus %}
            <tr>
                <td id="tableau-donnees">{{ campus.nom }}</td>
                <td id="tableau-donnees"><a id="tableau-donnees" href="{{ path('campus_update', {'id':campus.id }) }}">modifier</a>
                <a id="tableau-donnees" href="{{ path('campus_delete', {'id':campus.id }) }}">supprimer</a>
                </td>
            </tr>
        {% endfor %}

        <tr>
            <td id="tableau-donnees">
                {{ form_start(campusForm) }}
                {{ form_widget(campusForm) }}
            </td>
            <td id="tableau-donnees">
                <button class="btn btn-outline-light btn-dark rounded-0" type="submit">  Ajouter  </button>
                {{ form_end(campusForm) }}
            </td>
        </tr>

        </tbody>
    </table>
    </span>
{% endblock %}



