{% extends 'base.html.twig' %}

{% block title %}
{{ parent()  }} | Détail
{% endblock %}

{% block body %}

    <div class="">
        <img class="img-fluid rounded-circle img-max" src="{{ asset('img/profilePictures/' ~ utilisateur.photo) }}" alt="{{ utilisateur.username }} ">
    </div>

    <h2 id="utilisateur-show-profil" class ="text-uppercase" style="display: inline-block"> {{ utilisateur.username }} </h2>
    <h2 style="display: inline-block"> Profil </h2>
    <section>
        <div class ="utilisateur-infos">

            <h3>{{ utilisateur.prenom }} {{ utilisateur.nom }}</h3>


            <div class="text-white">
                <div>Téléphone : {{ utilisateur.telephone }}</div>
                <div> E-mail : {{ utilisateur.email }}</div>
                <div> Campus : {{ utilisateur.campus.nom }}</div>
            </div>
        </div>
    </section>
    <br>
    <br>
    <div>
        {% if app.user.id == utilisateur.id %}
        <a class="link_button btn btn-outline-light rounded-0" href="{{ path('utilisateur_update', {'id':utilisateur.id }) }}">Modifier</a>
         {% endif %}
    </div>

{% endblock %}