{% extends 'base.html.twig' %}

{% block title %}
{{ parent()  }} | Détail
{% endblock %}

{% block body %}
    <h2> Informations concernant {{ utilisateur.prenom }}</h2>
<section>
    <div class ="utilisateur-infos">
        <div>
            <img src="{{ asset('img/profilePictures/' ~ utilisateur.photo) }}" alt="{{ utilisateur.username }}">
        </div>
        <h3>{{ utilisateur.prenom }} {{ utilisateur.nom }}</h3>
        <div>Téléphone : {{ utilisateur.telephone }}</div>
        <div> Email : {{ utilisateur.email }}</div>
        <div> campus : {{ utilisateur.campus.nom }}</div>
    </div>

</section>

{% endblock %}