{% extends 'base.html.twig' %}

{% block title %}
{{ parent()  }} | Détail
{% endblock %}

{% block body %}
    <div>
        {% if utilisateur.actif == false %}
            {{ message }}
        {% endif %}
    </div>
    <div class="">
        <img class="img-fluid rounded-circle img-max" src="{{ asset('img/profilePictures/' ~ utilisateur.photo) }}" alt="{{ utilisateur.username }} ">
    </div>
    <br>
    <h2 id="utilisateur-show-profil" class ="text-uppercase" style="display: inline-block"> {{ utilisateur.username }} &#9989</h2>
    <span class="encadrement-contenu">
    <h2 style="display: inline-block">Mes informations</h2>
    <section>
        <div class ="utilisateur-infos">
            <div class="text-white">
                <div><strong>Nom :</strong> {{ utilisateur.nom }}</div>
                <div><strong>Prénom :</strong> {{ utilisateur.prenom }}</div>
                <div><strong>Téléphone :</strong> {{ utilisateur.telephone }}</div>
                <div><strong>E-mail :</strong> {{ utilisateur.email }}</div>
                <div><strong>Campus :</strong> {{ utilisateur.campus.nom }}</div>
            </div>
        </div>
    </section>
    </span>
    <br>
    <div>
        {% if app.user.id == utilisateur.id %}
            <a class="link_button btn btn-outline-light rounded-0" href="{{ path('utilisateur_update', {'id':utilisateur.id }) }}">Modifier</a>
        {% endif %}
        <br>
        {% if is_granted('ROLE_ADMIN') and utilisateur.actif == true %}
            <a class="link_button btn btn-outline-light rounded-0" href="{{ path('utilisateur_deactivate', {'id':utilisateur.id }) }}">Désactiver le compte</a>
        {% elseif is_granted('ROLE_ADMIN') and utilisateur.actif == false %}
            <a class="link_button btn btn-outline-light rounded-0" href="{{ path('utilisateur_reactivate', {'id':utilisateur.id }) }}">Réactiver le compte</a>
        {% endif %}
    </div>
{% endblock %}