{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Modification
{% endblock %}

{% block body %}

    <h2 id="utilisateur-show-profil" class="text-uppercase"
        style="display: inline-block"> {{ utilisateur.username }} </h2>

    <span class="encadrement-contenu">
    {% if is_granted('ROLE_ADMIN') or app.user.id == utilisateur.id %}
        <h2 style="display: inline-block">Modifier le Profil </h2>

    {{ form_start(utilisateurForm) }}
    <br>


    {{ form_widget(utilisateurForm) }}

        <button class="btn btn-outline-light rounded-0" type="submit">Enregistrer</button>
        <button class="btn btn-outline-light rounded-0" href="{{ path('utilisateur_show', {'id':utilisateur.id }) }}">Annuler</button>


    {{ form_end(utilisateurForm) }}
    </span>
    {% else %}
        <br>
        <h2>Vous n'avez pas les droits nécessaires pour modifier ces données !</h2>
        <br>
    {% endif %}
{% endblock %}