{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Modification
{% endblock %}

{% block body %}
    <h2>{{ utilisateur.username }} | Modifier le profil</h2>

    {{ form_start(utilisateurForm) }}
    {{ form_widget(utilisateurForm) }}
    <button type="submit" >Enregistrer</button>
    {{ form_end(utilisateurForm) }}

{% endblock %}