{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Liste des sorties
{% endblock %}

{% block body %}
    <h2>Liste des sorties</h2>
    <br>
    <br>
    <div>
        {% embed 'views/form/default_form.html.twig' with {'form' : filterForm}%}
            {%  block buttonLabel %} Filtrer {% endblock %}
        {% endembed %}
    </div>
    <div class="table-responsive text-white encadrement-contenu">
        <table class="table table-striped align-middle  table-borderless">
            <thead>
            <tr>
                <th id="tableau-donnees">Nom de la sortie</th>
                <th id="tableau-donnees">Date de la sortie</th>
                <th id="tableau-donnees">Clôture</th>
                <th id="tableau-donnees">Inscrits/Places</th>
                <th id="tableau-donnees">Etat</th>
                <th id="tableau-donnees">Inscrit</th>
                <th id="tableau-donnees">Organisateur</th>
                <th id="tableau-donnees">Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for sortie in sorties %}
                    {% if sortie.etat.libelle != 'Créée' or  sortie.organisateur.id == app.user.id %}
                        <tr>
                            <td id="tableau-donnees">{{ sortie.nom }}</td>
                            <td id="tableau-donnees">{{ sortie.dateHeureDebut | date('d/m/Y - H:i') }}</td>
                            <td id="tableau-donnees">{{ sortie.dateLimiteInscription | date('d/m/Y') }}</td>
                            <td id="tableau-donnees">{{ sortie.utilisateurs.count }}/{{ sortie.nbMaxInscriptions }}</td>
                            <td id="tableau-donnees">{{ sortie.etat.libelle }}</td>
                            {% if app.user.id in sortie.utilisateurs|map(user => user.id) %}
                                <td id="tableau-donnees">X</td>
                                {%else %}
                                <td id="tableau-donnees"> </td>
                            {% endif %}
                            <td>
                                <a  id="tableau-donnees" href="{{ path('utilisateur_show', {'id':sortie.organisateur.id }) }}">{{ sortie.organisateur.username }}</a>
                            </td>
                            <td>
                                <a id="tableau-donnees" href="{{ path('sortie_show', {'id':sortie.id }) }}">Afficher</a>
                                {% if sortie.dateLimiteInscription > date('now') and sortie.nbMaxInscriptions > sortie.utilisateurs.count and app.user.id not in sortie.utilisateurs|map(user => user.id) %}
                                    <a id="tableau-donnees" href="{{ path('sortie_subscribe', {'id':sortie.id }) }}">S'inscrire</a>
                                {% endif %}
                    {% if app.user.id in sortie.utilisateurs|map(user => user.id) %}
                                <a id="tableau-donnees" href="{{ path('sortie_unsubscribe', {'id':sortie.id }) }}">Se désister</a>
                        {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

