{% extends 'base.html.twig' %}

{% block title %}
    {{ parent()  }} | Details d'une sortie
{% endblock %}

{% block body %}
<span class="encadrement-contenu">

    <h2> {{ sortie.nom}} </h2>

    <div>
        <div><strong>Organisateur : </strong>{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom }} </div>
        <div><strong>Date et heure de la sortie : </strong>{{ sortie.dateHeureDebut | date('Y-m-d H:i:s')}} </div>
        <div><strong>Date limite d'inscription : </strong>{{ sortie.dateLimiteInscription | date('Y-m-d')}} </div>
        <div><strong>Nombre de places : </strong>{{ sortie.nbMaxInscriptions}} </div>
        <div><strong>Durée : </strong>{{ sortie.duree}} minutes</div>
        <div><strong>Description et infos : </strong>{{ sortie.infos}} </div>
        <div><strong>Campus : </strong>{{ sortie.campus.nom }}</div>
        <div><strong>Lieu : </strong>{{ sortie.lieu.nom }}</div>
        <div><strong>Rue : </strong>{{ sortie.lieu.rue }}</div>
        <div><strong>Code Postal : </strong>{{ sortie.lieu.ville.codePostal }}</div>
        <div><strong>Latitude : </strong>{{ sortie.lieu.latitude }}</div>
        <div><strong>Longitude : </strong>{{ sortie.lieu.longitude }}</div>
    </div>
</span>

    <br>
    <section>
        {% if app.user.id == sortie.organisateur.id %}
        <a class="link_button btn btn-outline-light rounded-0" href="{{ path('sortie_update', {'id':sortie.id }) }}">Modifier</a>
            {% if sortie.etat.libelle == 'Créee' or sortie.etat.libelle == 'Ouverte' %}
                <a class="link_button btn btn-outline-light rounded-0" onclick="return confirm('Êtes vous sûr de supprimer cette sortie?')" href="{{ path('sortie_delete', {'id':sortie.id }) }}">Annuler</a>
            {% endif %}
            {% if sortie.etat.libelle == 'Créée'  %}
                <a class="link_button btn btn-outline-light rounded-0" onclick="return confirm('Êtes vous sûr de vouloir publier cette sortie?')" href="{{ path('sortie_publish', {'id':sortie.id }) }}">Publier</a>
            {% endif %}
        {% endif %}
    </section>
    <br>
    <section class="encadrement-contenu">
        <h2>Liste des participants</h2>
        <div class="table-responsive text-white">
            <table class="table table-striped align-middle  table-borderless">
                <thead >
                <tr>
                    <th id="tableau-donnees">Pseudo</th>
                    <th id="tableau-donnees">Nom</th>
                </tr>
                </thead>
                <tbody>
                {% for u in sortie.utilisateurs %}
                        <tr>
                            <td><a id="tableau-donnees" href="{{ path('utilisateur_show', {'id':u.id }) }}">{{ u.username }}</a></td>
                            <td id="tableau-donnees">{{ u.nom }}</td>

                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>



    </section>

{% endblock %}

