{% extends 'base.html.twig' %}

{% block title %}
    {{ parent()  }} | Details d'une sortie
{% endblock %}

{% block body %}

    <h2> {{ sortie.nom}} </h2>

    <section>
        <div><strong>Organisateur : </strong>{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom }} </div>
        <div><strong>Date et heure de la sortie : </strong>{{ sortie.dateHeureDebut | date('Y-m-d H:i:s')}} </div>
        <div><strong>Date limite d'inscription : </strong>{{ sortie.dateLimiteInscription | date('Y-m-d')}} </div>
        <div><strong>Nombre de places : </strong>{{ sortie.nbMaxInscriptions}} </div>
        <div><strong>Durée : </strong>{{ sortie.duree}} minutes</div>
        <div><strong>Description et infos : </strong>{{ sortie.infos}} </div>
        <div><strong>Campus : </strong>{{ sortie.campus.nom }}</div>
        <div><strong>Lieu : </strong>{{ sortie.lieu.nom }}</div>
        <div><strong>Rue : </strong>{{ sortie.lieu.rue }}</div>
        <div><strong>Code Postal : </strong>{{ sortie.lieu.ville.codePostal }}</div>
        <div><strong>Latitude : </strong>{{ sortie.lieu.latitude }}</div>
        <div><strong>Longitude : </strong>{{ sortie.lieu.longitude }}</div>
    </section>
    <br>
    <br>
    <section>
        <a class="link_button" href="{{ path('sortie_update', {'id':sortie.id }) }}">modifier</a>
        <a class="link_button" onclick="return confirm('Êtes vous sûr de supprimer cette sortie?')" href="{{ path('sortie_delete', {'id':sortie.id }) }}">Supprimer</a>
    </section>

{% endblock %}

