{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} | Ajouter une ville
{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN')%}
    <span class="encadrement-contenu">
        <h2>Ajouter une ville</h2>
        <br>
    <table class="table align-middle table-hover">
        <thead>
            <tr>
                <th id="tableau-donnees">Nom</th>
                <th id="tableau-donnees">Code Postal</th>
                <th id="tableau-donnees">Actions</th>
            </tr>
        </thead>

        <tbody>
        {% for ville in villes %}
        <tr>
            <td id="tableau-donnees">{{ ville.nom }}</td>
            <td id="tableau-donnees">{{ ville.codePostal }}</td>
            <td id="tableau-donnees">
                <button class="btn btn-outline-light rounded-1>
                    <a href="{{ path('ville_update', {'id':ville.id}) }}">modifier</a>
                </button>
                <button class="btn btn-outline-danger rounded-1 btn-danger">
                    <a id="tableau-donnees" href="{{ path('ville_delete', {'id':ville.id}) }}">supprimer</a>
                </button>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td id="tableau-donnees">
                {{ form_start(villeForm) }}
                {{ form_row(villeForm.nom) }}
            </td>
            <td id="tableau-donnees">
                {{ form_row(villeForm.codePostal) }}
            </td>
            <td id="tableau-donnees">
                <button class="btn btn-outline-success rounded-1 btn-success text-white" type="submit">
                    Enregistrer
                </button>
                {{ form_end(villeForm) }}
            </td>
        </tr>
        </tbody>
{% else %}
        <br>
            <h2>Vous n'avez pas les droits pour ajouter une ville !</h2>
        <br>
{% endif %}
    </table>














{#      {{ form_start(villeForm) }}#}

{#            {{ form_widget(villeForm) }}#}
{#        <br>#}
{#        <button class="btn btn-outline-light rounded-0" type="submit" >Enregistrer</button>#}
{#        {{ form_end(villeForm) }}#}
    </span>

{% endblock %}





