<nav class="navbar navbar-expand-sm bg-body-tertiary bg-opacity-10">
    <div class="container-fluid">

        <a class="navbar-brand " href="{{ path('main_home') }}">
            <img src="{{ asset('img/LogoooEnd.png') }}" alt="Eni Event" class="max-width:20%">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">

                <div class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a id="list-navbar" class="nav-link active" aria-current="page" href="{{ path('main_home') }}">Accueil</a>
                    </li>

                    {% if app.user %}
                        <li class="nav-item">
                            <a id="list-navbar" class="nav-link active" aria-current="page" href="{{  path('utilisateur_show', {'id': app.user.id})  }}">Profil</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a id="list-navbar" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Sorties</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ path('sortie_list') }}">Consulter les sorties</a></li>
                                <li><a class="dropdown-item" href="{{ path('sortie_add') }}">Ajouter une sortie</a></li>
                            </ul>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item dropdown">
                                <a id="list-navbar" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Gestion utilisateurs</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{{ path('app_register') }}">Inscrire un utilisateur</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a id="list-navbar" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Gestion des lieux</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{{ path('ville_add') }}">Ajouter une ville</a></li>
                                    <li><a class="dropdown-item" href="{{ path('campus_add') }}">Ajouter un campus</a></li>
                                </ul>
                            </li>
                        {% endif %}
                        <li class="nav-item ">
                            <a id="list-navbar" class="nav-link active" aria-current="page" href="{{ path('app_logout') }}">Déconnexion</a>
                        </li>


                    {% else %}
                        <li class="nav-item" >
                            <a id="list-navbar" class="nav-link active" aria-current="page" href="{{ path('app_login') }}">Connexion</a>
                        </li>
                    {% endif %}

                </div>

            </ul>
        </div>
    </div>
</nav>
